.dialog-container {
    position: absolute;
    top: 0;
    left: 0;
    display: grid;
    justify-content: center;
    align-content: center;;
    background-color: #1E293B;
    min-width: 100vw;
    min-height: 100vh;
}

.dialog-content {
    display: grid;
    background-color: white;
    opacity: 1;
    width: 30rem;
    height: 30rem;
    align-content: center;
    border: 2px solid black;
    border-radius: 0.5rem;
}

.dialog-delete {
    display: flex;
    justify-content: center;
}
.dialog-input {
    display: grid;
    justify-content: center;
}

.dialog-buttons {
    display: flex;
    justify-content: center;
    margin-top: 1rem;
    gap: 0.9rem;
}

label {
    display: flex;
    justify-content: right;
    margin: 0.2rem 0rem;
}

input {
    width: 18rem;
    height: 1.2rem;
    margin-left: 0.5rem;
}